/* -------------------------- */
/* KANAGAWA PALETTE      */
/* -------------------------- */

@define-color    rosewater  #d27e99;
@define-color    rosewater-rgb  rgb(210, 126, 153);
@define-color    flamingo  #d27e99;
@define-color    flamingo-rgb  rgb(210, 126, 153);
@define-color    pink  #d27e99;
@define-color    pink-rgb  rgb(210, 126, 153);
@define-color    mauve  #9c86bf;
@define-color    mauve-rgb  rgb(156, 134, 191);
@define-color    red  #c34043;
@define-color    red-rgb  rgb(195, 64, 67);
@define-color    maroon  #e82424;
@define-color    maroon-rgb  rgb(232, 36, 36);
@define-color    peach  #ffa066;
@define-color    peach-rgb  rgb(255, 160, 102);
@define-color    yellow  #e6c384;
@define-color    yellow-rgb  rgb(230, 195, 132);
@define-color    green  #98bb6c;
@define-color    green-rgb  rgb(152, 187, 108);
@define-color    teal  #6a9589;
@define-color    teal-rgb  rgb(106, 149, 137);
@define-color    sky  #7fb4ca;
@define-color    sky-rgb  rgb(127, 180, 202);
@define-color    sapphire  #7e9cd8;
@define-color    sapphire-rgb  rgb(126, 156, 216);
@define-color    blue  #7e9cd8;
@define-color    blue-rgb  rgb(126, 156, 216);
@define-color    lavender  #9c86bf;
@define-color    lavender-rgb  rgb(156, 134, 191);
@define-color    text  #dcd7ba;
@define-color    text-rgb  rgb(220, 215, 186);
@define-color    subtext1  #c8c3a6;
@define-color    subtext1-rgb  rgb(200, 195, 166);
@define-color    subtext0  #d2cdb0;
@define-color    subtext0-rgb  rgb(210, 205, 176);
@define-color    overlay2  #938aa9;
@define-color    overlay2-rgb  rgb(147, 138, 169);
@define-color    overlay1  #727169;
@define-color    overlay1-rgb  rgb(114, 113, 105);
@define-color    overlay0  #54546d;
@define-color    overlay0-rgb  rgb(84, 84, 109);
@define-color    surface2  #4c4c55;
@define-color    surface2-rgb  rgb(76, 76, 85);
@define-color    surface1  #363646;
@define-color    surface1-rgb  rgb(54, 54, 70);
@define-color    surface0  #2a2a37;
@define-color    surface0-rgb  rgb(42, 42, 55);
@define-color    base  #1f1f28;
@define-color    base-rgb  rgb(31, 31, 40);
@define-color    mantle  #16161d;
@define-color    mantle-rgb  rgb(22, 22, 29);
@define-color    crust  #16161d;
@define-color    crust-rgb  rgb(22, 22, 29);

/* -------------------------- */
/* STYLING           */
/* -------------------------- */

* {
  font-family: 'Hack NerdFont';
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @lavender;
  border-radius: 8px;
  background-color: @base;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
}

#input image {
    border: none;
    color: @sapphire;
}

#input * {
  outline: 4px solid @sapphire!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @red;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @red;
}

#entry:selected #text {
  color: @red;
}

#entry:drop(active) {
  background-color: @lavender!important;
}
